<h1>Podcast Vault</h1>
<div class="splashBox">
<div class="oddDiv">
<div id="deskVid" class="imgBox">
<h3 class="menuPara">Episode 54 ~ October 6th, 2021</h3>
<h4 class="menuPara">The Club Turns One! </h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/1zSpPQzz-Qo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="evenDiv">
<div id="deskVid" class="imgBox">
<h3 class="menuPara">Episode 53 ~ September 28th, 2021</h3>
<h4 class="menuPara">When the Unthinkable Happens with Charlet Lee </h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/lTkctC18JKo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="oddDiv">
<div id="deskVid" class="imgBox">
<h3 class="menuPara">Episode 52 ~ September 20th, 2021</h3>
<h4 class="menuPara">The Healing Power of Art and Creativity</h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/2FOX5fayBkA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="evenDiv">
<div id="deskVid" class="imgBox">
<h3 class="menuPara">Episode 50 ~ September 8th, 2021</h3>
<h4 class="menuPara">Level Up</h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/TCOI3J8rwYg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>





<div class="oddDiv">
<div id="deskVid" class="imgBox">
<h3 class="menuPara">Episode 46 ~ August 10th, 2021</h3>
<h4 class="menuPara">Modern Spirituality </h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/P8GA6Z8APfU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="evenDiv">
<div id="deskVid" class="imgBox">
<h3 class="menuPara">Episode 43 ~ August 10th, 2021</h3>
<h4 class="menuPara">Daymaking </h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/ZKtnCK-K_aQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="oddDiv">
<div id="deskVid" class="imgBox">
<h3 class="menuPara">Episode 30 ~ April 19th, 2021</h3>
<h4 class="menuPara">Vibration and Frequency </h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/NUfM5rPFgi4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>



<div class="evenDiv">
<div id="deskVid" class="imgBox">
<h3 class="menuPara">Episode 27 ~ March 29th, 2021</h3>
<h4 class="menuPara">Sacred Wisdom with James Vincent </h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/1bh4totHAS0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="oddDiv">
<div class="imgBox">
<h3 class="menuPara">Episode #24 ~ March 7th, 2021</h3>
<h4 class="menuPara">Keri Davis-Duffy</h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/Dz2lIXeOCbg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="evenDiv">
<div class="imgBox">
<h3 class="menuPara">Episode #20 ~ Feburary 7th, 2021</h3>
<h4 class="menuPara">Becca Ashmon</h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/hu9katUiUps" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="oddDiv">
<div class="imgBox">
<h3 class="menuPara">Episode #17 ~ January 24th, 2021</h3>
<h4 class="menuPara">"Love Languages"</h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/vZLGX6Q8I2c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="evenDiv">
<div class="imgBox">
<h3 class="menuPara">Episode #16 ~ January 10th, 2021</h3>
<h4 class="menuPara">#1 New York Times Bestselling Author Julie Murphy</h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/4NQnTGAGjQQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="oddDiv">
<div class="imgBox">
<h3 class="menuPara">Episode #8 ~ December 13th, 2020</h3>
<h4 class="menuPara">Receiving Grace and Gratitude</h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/EwMYmNAav40" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="evenDiv">
<div class="imgBox">
<h3 class="menuPara">Episode #7 ~ November 22nd, 2020</h3>
<h4 class="menuPara">Port Wine Stains and Albino Jokes</h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/qvxo9EMIu7I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>
<div class="oddDiv">
<div class="imgBox">
<h3 class="menuPara">Episode #6 ~ November 16th, 2020</h3>
<h4 class="menuPara">Codependency Queens</h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/9o6vWAk6sE4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="evenDiv">
<div class="imgBox">
<h3 class="menuPara"> Feeling the moment!	11-07-2020</h3>
<h4 class="menuPara">Congratulations Vice President Harris!</h4>

<div class="imgBox"><img class="slider" alt="image of the Statue of Liberty -or- The Bad Ass Lady Liberty" src="images/ladyLiberty.png"></div>
</div>
</div>
<div class="oddDiv">
<div class="imgBox">
<!---podcast episode description and front page news.---->
<h3 class="menuPara">Episode #5 ~ October 25th, 2020</h3>

<h4 class="menuPara">Age of the Goddess</h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/oMK0r-LMtoY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
</div>
<div class="evenDiv">
<div class="imgBox">
<!---podcast episode description and front page news.---->
<h3 class="menuPara">Episode #4 ~ October 18th, 2020</h3>

<h4 class="menuPara">Boundaries</h4>
<iframe width="90%" height="200" src="https://www.youtube.com/embed/q3GhzJEeshw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
</div>
<div class="oddDiv">
<div class="imgBox">
<h3 class="menuPara">Welcome to the Club!</h3>
<p id="menuPara">
The Badass Ladies Club is a community created to be in service to people who are committed to growing and healing via personal accountability, self reflection and of course laughter.
<br><br>
We don't claim to be experts, we are walking this messy path of personal growth and discovery right now. The journey is terrifying and rewarding, there is SO much to unpack around countless topics to learning who you are becoming.
<br><br>
As friends we have come to rely on one another for unconditional support and understanding when we hit hard feelings or revelations.
This kind of friendship has been critical to our evolution, so we are turning it into a club, and You my Badass friend are invited to join!
  </p>

<!----episodes--->
</div>
</div>

<div class="evenDiv">
<div class="imgBox">
<!---podcast episode description and front page news.---->
<h3 class="menuPara">Episode #1 ~ October 5th, 2020</h3>

<h4 class="menuPara">How Quarantine Changed Us and Birthed the Badass Ladies Club</h4>
<iframe width="90%" height="200" src="https://www.youtube.com/embed/DYHE6jH_UM4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
</div>
<!-- bottom section---->
<div class="oddDiv">
<div class="imgBox"
style="margin-bottom: 100px;">
<h2 class="menuPara">Want to Connect with someone Badass?  <br> We want to hear from you!</h2>
<h3>	<a href="mailto:badabclub@gmail.com">Email Us!</a></h3>
<p class="menuPara"  style="text-align:center;">Be Sure to Follow or Subscribe on:
<br>apple podcast || spotify || facebook || instagram || tik tok
<br>Share, Like, Follow, Tell your Bad Ass Ladies about us!</p>

<br>
<br>
<p class="menuPara"  style="text-align:center;">Thank you for visiting Bad Ass Ladies Club. Be sure to subscribe on Youtube, Spottify, or Apple Podcasts
</p>
<h3>Have an issue with the site<br>Have feedback for the developers?</h3>
<h3> let us know <a href="www.w2marketing.biz">Here! for Tech Support</a></h3>
</div>
</div>
</div>
