<div class="podcasts">
<!--I am using EJS to index and route the youtube link using nodeJS and EXPRESSjs-->
 <select name="" id="">
  <%= for(i=0;i<ytLink.length){%>

    <option value="tyLink" name="tyLink<%= [i]%>">tyLink<%= [i]%></option>
<%= }%> 
</select>


<div class="oddDiv">
    <div id="deskVid" class="imgBox">
    <h3 class="menuPara"></h3>
    <h4 class="menuPara"></h4>
    <iframe></iframe>
    </div>
    </div>

     
<br><br>
</div>
