<div class="podcasts">

  <div class="evenDiv">
    <div id="deskVid" class="imgBox">
        
      <h1>Transformationa Breathwork</h1>
      <h3 class="menuPara">with Lawrie Wallace</h3>
<h4 class="menuPara">Purple Reign, Fort Worth, TX </h4>
<img onclick="menuPageGet(blcMenu5)" class="menuHeadImg"src="../images/breathe.jpg">
<p>ransformational Breathwork Journey

  Breathwork is a sacred container created to support your inner healer and supporting energies to process and shift the feelings and emotions that are ready to heal. 
  
  Deep meditations, ceremony, drumming, chakra aligned music, bodywork and intuitive processing are all a part of the journey. 
  
  Breathwork can be intense and produces a variety of experiences during and after the session. Come with an open heart and see where your journey leads you. 
  
  Tickets are available through Purple Reign at
  <a href="/purple"> www.purplereignftw.com</a>
 </p>
     
    
    </div>
    </div>

  <div class="oddDiv">
    <div id="deskVid" class="imgBox">
        <img onclick="menuPageGet(blcMenu5)" class="menuHeadImg"src="../images/beauty/jess0.jpg">
      <h1>Badass Beauty</h1>
      <img onclick="menuPageGet(blcMenu5)" class="menuHeadImg"src="../images/beauty/priceSheet.jpg">
    
    </div>
    </div>

  <div class="evenDiv">
  <div id="deskVid" class="imgBox">
    <h1>Release and Receive Retreats</h1>
    <img onclick="menuPageGet(blcMenu0)" class="menuHeadImg"src="../images/retreat/menu0MainImg0.png">

  </div>
  </div>

<div class="oddDiv">
<div id="deskVid" class="imgBox">
<h3 class="menuPara">Episode 54 ~ October 6th, 2021</h3>
<h4 class="menuPara">The Club Turns 1!! 🎂 </h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/1zSpPQzz-Qo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="evenDiv">
<div id="deskVid" class="imgBox">
<h3 class="menuPara">Episode 53 ~ September 28th, 2021</h3>
<h4 class="menuPara">When the Unthinkable Happens with Charlet Lee </h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/lTkctC18JKo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>


<div class="evenDiv">
<div id="deskVid" class="imgBox">
    <img onclick="menuPageGet(blcMenu2)" class="menuHeadImg"src="../images/branding/menu2Header.png">
  <h1>Badass Branding</h1>
  <img onclick="menuPageGet(blcMenu2)" class="menuHeadImg"src="../images/branding/menu2MainImg1.png">

</div>
</div>

<div class="oddDiv">
<div id="deskVid" class="imgBox">
<h3 class="menuPara">Episode 52 ~ September 20th, 2021</h3>
<h4 class="menuPara">The Healing Power of Art and Creativity</h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/2FOX5fayBkA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="evenDiv">
<a href="/podcasts"><div id="deskVid" class="imgBox">
<h3 class="menuPara">All of Our PodCasts</h3>
<h4 class="menuPara">Find Them Here!!</h4>

</div></a>
</div>
<br><br>
</div>
