<div class="podcasts">

  <!--div class="oddDiv">
    <div id="deskVid" class="imgBox">
    <h3 class="menuPara"></h3>
    <h4 class="menuPara"></h4>
    <iframe></iframe>
    </div>
    </div-->

      <div class="oddDiv">
    <div id="deskVid" class="imgBox">
    <h3 class="menuPara">Episode 83 ~ April 28th, 2022</h3>
    <h4 class="menuPara">Purple Reign with Kortni Kennedy and Kellen Carpenter</h4>
   <iframe width="90%" height="250" src="https://www.youtube.com/embed/0mdNJtnAd6U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>

      <!--div class="evenDiv">
    <div id="deskVid" class="imgBox">
    <h3 class="menuPara"></h3>
    <h4 class="menuPara"></h4>
    <iframe></iframe>
    </div>
    </div-->

      <div class="oddDiv">
    <div id="deskVid" class="imgBox">
    <h3 class="menuPara">Episode 73 ~ Feb 16th, 2022</h3>
    <h4 class="menuPara">Lessons from Past Relasionships</h4>
   <iframe width="90%" height="250" src="https://www.youtube.com/embed/98b2rWmVAkM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>



  <div class="evenDiv">
    <div id="deskVid" class="imgBox">
    <h3 class="menuPara">Episode 71 ~ Feburary 16th, 2022</h3>
    <h4 class="menuPara">Boundaries 2.0 </h4>
    <iframe width="90%" height="250" src="https://www.youtube.com/embed/0eXsmAgy8Dk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>

  <div class="oddDiv">
    <div id="deskVid" class="imgBox">
    <h3 class="menuPara">Episode 64 ~ Feburary 16th, 2022</h3>
    <h4 class="menuPara">Inspired Action </h4>
    <iframe width="90%" height="250" src="https://www.youtube.com/embed/6YU8yFN1hXE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>
    


  <div class="evenDiv">
    <div id="deskVid" class="imgBox">
        
      <h1>Transformational Breathwork</h1>
      <h3 class="menuPara">with Lawrie Wallace</h3>
<h4 class="menuPara">Purple Reign, Fort Worth, TX </h4>
<img class="menuHeadImg"src="../images/breathe.jpg">
<p>Transformational Breathwork Journey
  Breathwork is a sacred container created to support your inner healer and supporting energies to process and shift the feelings and emotions that are ready to heal. 
    Deep meditations, ceremony, drumming, chakra aligned music, bodywork and intuitive processing are all a part of the journey. 
    Breathwork can be intense and produces a variety of experiences during and after the session. Come with an open heart and see where your journey leads you. 
    Tickets are available through Purple Reign at
  <a href="/purple"> www.purplereignftw.com</a>
 </p>
         
    </div>
    </div>

  <div class="oddDiv">
    <div id="deskVid" class="imgBox">
        <img onclick="menuPageGet(blcMenu2)" class="menuHeadImg"src="../images/beauty/jess0.jpg">
      <h1>Badass Beauty</h1>
      <img onclick="menuPageGet(blcMenu2)" class="menuHeadImg"src="../images/beauty/priceSheet.jpg">
      <p>Send Jess an email and <a href="mailto:jessicaweckher@gmail.com?subject=BLC contact: I need my hair Did">Book an Appointment</a></p>
    
    </div>
    </div>

  <div class="evenDiv">
  <div id="deskVid" class="imgBox">
    <h1>Release and Receive Retreats</h1>
    <p style="color:orangered; text-shadow:2px 2px 2px black"><strong> Event Ended</strong></p>
    <img class="menuHeadImg"src="../images/retreat/old/menu0MainImg0.png">

  </div>
  </div>

<div class="oddDiv">
<div id="deskVid" class="imgBox">
<h3 class="menuPara">Episode 54 ~ October 6th, 2021</h3>
<h4 class="menuPara">The Club Turns 1!! 🎂 </h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/1zSpPQzz-Qo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="evenDiv">
<div id="deskVid" class="imgBox">
<h3 class="menuPara">Episode 53 ~ September 28th, 2021</h3>
<h4 class="menuPara">When the Unthinkable Happens with Charlet Lee </h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/lTkctC18JKo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>


<div class="evenDiv">
<div id="deskVid" class="imgBox">
    <img onclick="menuPageGet(blcMenu2)" class="menuHeadImg"src="../images/branding/menu2Header.png">
  <h1>Badass Branding</h1>
  <img onclick="menuPageGet(blcMenu2)" class="menuHeadImg"src="../images/branding/menu2MainImg1.png">

</div>
</div>

<div class="oddDiv">
<div id="deskVid" class="imgBox">
<h3 class="menuPara">Episode 52 ~ September 20th, 2021</h3>
<h4 class="menuPara">The Healing Power of Art and Creativity</h4>
<iframe width="90%" height="250" src="https://www.youtube.com/embed/2FOX5fayBkA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="evenDiv">
<a href="/podcasts"><div id="deskVid" class="imgBox">
<h3 class="menuPara">All of Our PodCasts</h3>
<h4 class="menuPara">Find Them Here!!</h4>

</div></a>
</div>
<br><br>
</div>
