<div id="socialGroup">

	<a href="https://www.facebook.com/BadassLadies-Club-110892360731987" target="_blank">
		<img src="images/fbIconBlue.png" alt="join us on: Facebook" id="socialFB"></a>

		<a href="https://www.instagram.com/thebadassladiesclub" target="_blank">
			<img src="images/InstaIconColor.png" alt="join us on: Instagram" id="socialInsta"></a>

	<a href="https://vm.tiktok.com/ZMJUUmvsq/" target="_blank">
		<img src="images/tik.png"  alt="join us on: Tick Tock"id="socialTT"></a>

		<a href="https://www.youtube.com/channel/UCe83W9uR-7dozAT0cH3cj9g/videos" target="_blank">
			<img src="images/youtube.png" alt="join us on: you tube" id="socialYT"></a>

		</div>
