
<div style="z-index:30;" id="contact" class="menuPage">
  <br><br>
<h1>Connect with a Badass</h1>
<br>
<form action="sendData" method="POST">
  <label for="fname"> Your Name</label> <br>
  <input type="text" id="fname" name="fname"><br>
    <label for="lname">Branding? Retreats? Anything Else?</label> <br>
    <input type="text" id="lname" name="lname">

    <label for="email">Email</label> <br>
    <input type="text" id="email" name="email">



    <br><br>
    <button onclick="pageCloser(contact)" type="submit" id="signUp">SUBMIT</button>
    <button onclick="pageCloser(contact)" class="cancel">CANCEL</button>
</form>

<h2>CHANCE TO ENTER NOW WHILE SUPPLIES LAST <span>ANOTHER MESSA HERRE</span> Giveaway!</h2>
  <h2> &#x2B07 Click on Image to Enter &#x2B07 </h2>
<p>image code here</p>


</div>
