<div id="blcMenu0" class="menuPage">
    <div class="menuHead"><img class="menuHeadImg" alt="Jessica and Lawrie, your hosts of Bad Ass Ladies Club Podcast" src="images/retreat/Menu0Header.png"></div>

  <div class="menuBody">
    <h1>Badass Retreats</h1>
    <img class="menuHeadImg"src="../images/retreat/menu0MainImg0.png">
    <h2> Its time to make Your Healing a Top Priority ~~ Tamarindo, Costa Rica</h2>
    <p>Join us in Costa Rica in 2022 for a customized healing experience like no other!

Our expertly trained team of healers will provide the perfect balance of support and therapeutic healing <img src="./images/retreat/menu0Img0.png" alt="retreat to Tamarindo, with Bad Ass Ladies" class="menuThumbR"> techniques combined with plenty of relaxation and downtime.
<br><br>
Our beachfront resort on the Pacific Coast of Guanacaste is reserved exclusively for Badass<img src="./images/retreat/menu0Img1.png" alt="retreat to Tamarindo, with Bad Ass Ladies" class="menuThumbL"> Retreats. <br><br>We sell out events at 15 and under to allow for plenty of space and attention for all to enjoy.
    </p>
    <br>
    <h1>	Contact us at <a href="mailto:badabclub@gmail.com">badabclub@gmail.com</a> to reserve your space now!</h1>
    <br>
  <img class="menuHeadImg"src="./images/retreat/menu0MainImg1.png">
    <br>
  <img class="menuHeadImg"src="./images/retreat/menu0MainImg2.png">


    </div>



  <button onclick="pageCloser(blcMenu0)" id="cancel">Go Back..</button>
</div>
