<div id="blcMenu3" class="menuPage">
  <div class="sideSlider">

    <div class="galleryCard">
      <img class="galleryImg" src="images/beauty/jess0.jpg">
      </div>

    <div class="galleryCard">
    <img class="galleryImg" src="images/gallery2/0.png">
    </div>
      <div class="galleryCard">
    <img class="galleryImg" src="images/gallery2/1.png">
    </div>
      <div class="galleryCard">
    <img class="galleryImg" src="images/gallery2/2.png">
    </div>
      <div class="galleryCard">
    <img class="galleryImg" src="images/gallery2/3.png">
    </div>
      <div class="galleryCard">
    <img class="galleryImg" src="images/gallery2/4.png">
    </div>
      <div class="galleryCard">
    <img class="galleryImg" src="images/gallery2/5.png">
    </div>
      <div class="galleryCard">
    <img class="galleryImg" src="images/gallery2/6.png">
    </div>

      </div>


<button onclick="pageCloser(blcMenu3)" id="cancel" style="margin-bottom:50px">Go Back..</button>
</div>
