<div id="blcMenu0" class="menuPage">
    <div class="menuHead"><img class="menuHeadImg" alt="Jessica and Lawrie, your hosts of Bad Ass Ladies Club Podcast" src="../images/Menu0Header.png"></div>

  <div class="menuBody">
    <h1>Release and Receive Retreats</h1>
    <img class="menuHeadImg"src="../images/retreat/menu0MainImg0.png">
    <h2> Its time to make Your Healing a Top Priority ~~ Lake Murray State Park, OK</h2>
    <p>Join us at our Southern Oklahoma Retreat for a customized healing experience like no other!

      Anyone interested in releasing that which no longer serves them and activating prosperity and appreciation in their heart and lives?
      techniques combined with plenty of relaxation and downtime.<br></p>
    <h1>	<a href="email(badabclub@gmail.com)">Contact us:</a> to reserve your space now!</h1>
        <img  src="../images/retreat/menu0MainImg1.jpg" alt="retreat to Tamarindo, with Bad Ass Ladies" class="menuThumbR">
<br><br>


    <br>

    <br>

    <br>

  <img class="menuHeadImg"src="../images/retreat/menu0MainImg3.jpg"><p> Release and Receive is a weekend retreat designed to support your release of things that no longer serve and receive whatever you desire in it’s place.</p>
  <img class="menuHeadImg"src="../images/retreat/menu0MainImg4.jpg">
  <img class="menuHeadImg"src="../images/retreat/menu0MainImg5.jpg">


    </div>



  <button onclick="pageCloser(blcMenu0)" id="cancel" style="margin-bottom:50px">Go Back..</button>
</div>
