<div id="blcMenu0" class="menuPage">
    <!--div class="menuHead"><img class="menuHeadImg" alt="Jessica and Lawrie, your hosts of Bad Ass Ladies Club Podcast" src="../images/Menu0Header.png"></div-->

  <div class="menuBody">
    <h1>Work with Lawrie</h1>
    <img class="menuHeadImg"src="../images/retreat/menu0MainImg1.jpg">
    <img class="menuHeadImg"src="../images/retreat/menu0MainImg9.jpg">
    <h2>Abundance ~ Attraction</h2>
    <p>FREE yourself from the working tirelessly in toxic environments that drain your energy and break your spirit and awaken your soul’s sacred calling to do what lights you and the world up!

      Lawrie is a intuitive entrepreneur and coach who supports and trains people to align their vibration with their dreams and attract life changing results. 
      
      Book your free strategy call now!
      <button ><a href="/lawrieWork">Book NOW!</a></button>
      <br></p>
    <h1>	<a href="mailto:lawriewallace@yahoo.com?subject=BLC contact: I'm interested in working with Lawrie">Contact me:</a> to book your free strategy call Now!</h1>
        <img  src="../images/retreat/menu0MainImg2.jpg" alt="retreat to Tamarindo, with Bad Ass Ladies" class="menuThumbR">
<br><br>


    <br>

    <br>

    <br>

  <img class="menuHeadImg"src="../images/retreat/menu0MainImg3.jpg">
  <img class="menuHeadImg"src="../images/retreat/menu0MainImg4.jpg">
  <img class="menuHeadImg"src="../images/retreat/menu0MainImg5.jpg">
  <h2>Testimonials</h2>
  <video src="../images/retreat/tesimonial1.mp4" width="320" height="240" controls></video>
  <video src="../images/retreat/tesimonial2.mp4" width="320" height="240" controls></video>

    </div>



  <button onclick="pageCloser(blcMenu0)" id="cancel" style="margin-bottom:50px">Go Back..</button>
</div>
