<div id="blcMenu1" class="menuPage">

      <div class="menuHead"><img class="menuHeadImg" alt="Jessica and Lawrie, your hosts of Bad Ass Ladies Club Podcast" src="images/worth/dyw.jpg"></div>

  <div class="menuBody">
    <h1>Define Your Worth</h1>
    <img class="menuHeadImg"src="./images/worth/dyw.jpg">
    <h2> another Badass Retreat</h2>


retreat
<button onclick="pageCloser(blcMenu1)" id="cancel">Go Back..</button>
retreat




    </div>


</div>
