<div id="blcMenu1" class="menuPage">

 <img class="menuHeadImg" alt="Jessica and Lawrie, your hosts of Bad Ass Ladies Club Podcast" src="images/courses/feelingGood.png">

  <div class="menuBody">
    <h1>Badass Guide:</h1>

    <h2> to Feeling Good Mini-course</h2>

<p>You deserve to feel good. Feeling good is your birthright.
<br><br>

  The Badasses Guide to Feeling Good is a digital course designed to activate your power of      intention and support the actions that bring you freedom, money and oppurtunities by focusing on what feels good to you!
<br><br>

This course includes 2 virtual 1to1 intuitive healing sessions with Lawrie and Jessica to support you in implementing the content and heal the limiting beliefs that are keeping you stuck.
</p>

<button onclick="/CORS" >Book NOW!</button>

  <img class="menuHeadImg"src="../images/logoMain.png">



    </div>


<button onclick="pageCloser(blcMenu1)" class="cancel">Go Back..</button>

</div>
