<div id="blcMenu2" class="menuPage">
<img class="menuHeadImg" src="images/branding/menu2Header.png">
    <img class="menuHeadImg" src="images/branding/menu2MainImg0.png">

      <h1>	Contact us at <a href="mailto:badabclub@gmail.com">badabclub@gmail.com</a> for a one on one!</h1>
    <img class="menuHeadImg" src="images/branding/menu2MainImg1.png">
  <h1>	Contact us at <a href="mailto:badabclub@gmail.com">badabclub@gmail.com</a> for a one on one!</h1>

    <img class="menuHeadImg" src="images/branding/menu2MainImg2.png">
  <h1>	Contact us at <a href="mailto:badabclub@gmail.com">badabclub@gmail.com</a> for a one on one!</h1>

    <img class="menuHeadImg" src="images/branding/menu2MainImg3.png">
<h1>	Contact us at <a href="mailto:badabclub@gmail.com">badabclub@gmail.com</a> for a one on one!</h1>

    <img class="menuHeadImg" src="images/branding/menu2MainImg4.png">






<h1 style="margin-bottom:5%;">	Contact us at <a href="mailto:badabclub@gmail.com">badabclub@gmail.com</a> for a one on one!</h1>
<br><br><br>
<button onclick="pageCloser(blcMenu2)" id="cancel" style="margin-bottom:50px">Go Back..</button>


</div>
